@model IEnumerable<AzR.AuditLog.Business.Models.SampleViewModel>


<div>
    <h1>Audit log example</h1> <br />
    <a href="/" class="btn btn-default">Show only live </a>
    <a href="#" class="btn btn-default" onClick="ShowDeleted()">Show all records </a>
    <span class="btn btn-default pull-right" onClick="createModal('@Url.Action("Create","Home")')">New record </span>
    <br />
    <br />
    <table class='table table-condensed'>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr id="@item.Id" @(item.Active ? String.Empty : "class=alert-danger")>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.DateOfBirth.ToShortDateString()
                    </td>
                    <td>
                        <span onClick="GetAuditHistory(@item.Id)">Audit</span>|
                        <span onClick="createModal('@Url.Action("Edit", "Home", new {id = item.Id})')">Edit</span>|
                        <span onClick="DeleteRecord(@item.Id)">Delete</span>
                    </td>
                </tr>
            }

        </tbody>
    </table>


</div>

<script>
    function GetAuditHistory(id) {
        
        $.getJSON("/home/audit/" + id, function (auditLogs) {
            if (auditLogs.length === 0) {
                bootbox.alert("No Data Found!!!");
            } else {
                $("#modelContent").html("");
                var compiled = render('AuditLog', { auditLogs: auditLogs});
                $("#modelContent").html(compiled);
                $('#myModal').modal('show');
            }
           
        });
       
    }
    function DeleteRecord(recordID) {
        $.get("/home/delete/" + recordID); // should have return on success etc
        $('#' + recordID).remove();
    }
    function ShowDeleted() {
        window.location.assign('/?ShowDeleted=True');
    }
    function NewRecord() {
        window.location.assign('/home/create');
    }
</script>

