@model IEnumerable<AzR.AuditLog.Business.Models.SampleViewModel>


<div>
    <h1>Audit log example</h1> <br />
    <a href="/" class="btn btn-default">Show only live </a>
    <a href="#" class="btn btn-default" onClick="ShowDeleted()">Show all records </a>
    <span class="btn btn-default pull-right" onClick="createModal('@Url.Action("Create","Home")')">New record </span>
    <br /><br />
    <table class='table table-condensed'>
        <thead></thead>
        @foreach (var item in Model)
        {
            <tr id="@item.Id" @(item.Active ? String.Empty : "class=alert-danger" )>

                <td><span onClick="createModal('@Url.Action("Edit","Home",new{id=item.Id})')">Edit</span> <span onClick="DeleteRecord(@item.Id)">Delete</span> </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.DateOfBirth.ToShortDateString()
                </td>
                <td><a href="#" onClick="GetAuditHistory(@item.Id)">Audit</a></td>
            </tr>
        }
    </table>


</div>

<script>
    function GetAuditHistory(recordID) {
        $("#modelContent").html("");
        $.getJSON("/home/audit/" + recordID, function (auditLogs) {
            if (auditLogs.length === 0) return;
           var compiled = render('AuditLog', { auditLogs: auditLogs});
            $("#modelContent").html(compiled);
           
        });
        $('#myModal').modal('show');
    }
    function DeleteRecord(recordID) {
        $.get("/home/delete/" + recordID); // should have return on success etc
        $('#' + recordID).remove();
    }
    function ShowDeleted() {
        window.location.assign('/?ShowDeleted=True');
    }
    function NewRecord() {
        window.location.assign('/home/create');
    }
</script>

