<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit example</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
<div class="container body-content">
    

    <div id="mainContent">
        @RenderBody()
    </div>
    @{Html.RenderPartial("_Modal");}



    <hr/>
    <footer>
    </footer>
</div>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
<script>
    $(function () {
        $(document).ajaxComplete(function () {
            $.validator.unobtrusive.parse(document);
        });
        $('#dashboard').click();
    });
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
